<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="Connection" value="Server=localhost;database=BackEndTest;UID=root;password=root" />
    <add key="BlockFrom" value="12100001" />
    <add key="BlockTo" value="12100500" />
    <!--<add key="BlockTo" value="12100010" />-->
    <add key="EtherScanAPI" value="https://api.etherscan.io" />
    <add key="APIKey" value="7T8DUDM86W63E1Q5V5H9YM486C5NDXAXPR" />
  </appSettings>
</configuration>